// COLORS
$color-cyan: #2acfcf;
$light-cyan: #9be3e2;
$color-dark-violet: #3b3054;
$color-red: #f46262;
$color-gray: #bfbfbf;
$color-grayish-violet: #9e9aa7;
$color-vary-dark-blue: #35323e;
$color-vary-dark-violet: #232127;
$color-white: #fff;

// FONT STYLES
$font-poppins: "Poppins", sans-serif;
$default-font-size: 1.8rem;
