.btn {
  font-size: $default-font-size;
  font-weight: 500;
  color: $color-white;
  background-color: $color-cyan;
  text-align: center;

  &:hover {
    background-color: $light-cyan;
    transition: background-color ease-in-out 0.2s;
  }
}

.btn-sign-up {
  border-radius: 3rem;
}

.btn-get-started {
  border-radius: 3rem;
}

.btn-shorten-link {
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  width: 100%;
}

.btn-copy {
  border: none;
  border-radius: 0.6rem;
  padding: 0.8rem 2rem;
  width: 100%;
}
